<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="~{layout/principal.html :: headerfiles}"> <!--...--> </th:block>
		<title>Registro de productos</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Control de productosr</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link" href="/nuevo">Agregar producto</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<br>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card rounded-5 py-4">
					<h1 class="text-center">Registrar Cliente Nuevo</h1>
					<div class="card-body">
						<form 
							method="post" 
							th:object="${customer}"
							th:action="@{/customer/save_customer}"
						>
							<div class="form-group">
								<label>Nombre</label>
								<input 
									type="text" 
									name="nombreCliente"  
									class="form-control" 
									placeholder="Nombre del cliente"
									th:field="*{customerName}"
								>
							</div>
							<div class="form-group">
								<label>Apellido</label>
								<input 
									type="text" 
									name="apellidoCliente"  
									class="form-control"
									placeholder="Apellido del cliente"
									th:field="*{customerLastName}"
								>
							</div>
							<div class="d-flex justify-content-around">
								<div class="form-group w-100 mr-3">
									<label>DNI</label>
									<input 
										type="text" 
										name="dniCliente"  
										class="form-control" 
										placeholder="DNI del cliente"
										th:field="*{customerDNI}"
									>
								</div>
								<div class="form-group w-100">
									<label>Telefono</label>
									<input 
										type="text" 
										name="dniCliente"  
										class="form-control" 
										placeholder="Telefono movil del cliente"
										th:field="*{customerPhone}"
									>
								</div>
							</div>
							
							<div class="box-footer d-flex ">
								<button type="submit" class="btn w-100 border-1 border-warning mr-2">Guardar</button>
								<div>
									<a th:href="@{/customer/list}" class="btn btn-danger">
										Volver 
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>	
	</body>
</html>


<!-- th:action="@{/GuardarClii}" th:object="${cli}" -->
<!-- th:field="*{dniCliente}" -->
<!-- th:field="*{apellidoCliente}" -->
<!-- th:field="*{nombreCliente}" -->