<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <th:block th:include="~{layout/principal.html :: headerfiles}"> <!--...--> </th:block>
        <title>Vista de Empleados</title>
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{layout/principal :: navbar}"></ul>
            
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{layout/principal :: topbar('Buscar por nombre del empleado','employee_by_name','/employee/search')}"></nav>
                    
                    <div class="container-fluid">
                        <div class="d-flex align-items-center my-4 mx-3">
                            <h1 class="h3 mb-2 text-gray-800 d-inline">LISTA DE EMPLEADOS</h1>

                            <a href="/employee/register" class="btn custom-btn d-inline ml-4">
                                <span class="text">Agregar empleado</span>
                            </a>
                        </div>

                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>FOTO</th>
                                                <th>DNI</th>
                                                <th>NOMBRE</th>
                                                <th>APELLIDO</th>
                                                <th>TELEFONO</th>
                                                <th>CORREO</th>
                                                <th>DIRECCION</th>
                                                <th>ACCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="employee : ${employees}">
                                                <td th:text="${employee.idEmployee}"></td>
                                                <td style="height: 70px;">
                                                    <div 
                                                        th:style="'background-image: url(' + ${employee.employeeUserProfile} + ');'" 
                                                        class="tbl__img"
                                                    >
                                                        <!-- <img th:src="${employee.employeeUserProfile}" height="100%" alt="Sin foto de perfil"> -->
                                                    </div>
                                                </td>
                                                <td th:text="${employee.employeeDNI}"></td>
                                                <td th:text="${employee.employeeName}"></td>
                                                <td th:text="${employee.employeeLastName}"></td>
                                                <td th:text="${employee.employeePhone}"></td>
                                                <td th:text="${employee.employeeEmail}"></td>
                                                <td th:text="${employee.employeeAddress}"></td>
                                                <td class="d-flex">
                                                    <div class="mr-2">
                                                        <a th:href="@{'/employee/edit/' + ${employee.idEmployee}}" class="btn btn-primary btn-circle btn-sm">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <form th:action="@{'/employee/delete/' + ${employee.idEmployee}}" method="post">
                                                            <button class="btn btn-danger btn-circle btn-sm" type="submit">
                                                                <i class="fas fa-trash"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>	
        </div> 
        <!-- <th:block th:replace="layout/principal :: scripts"></th:block> -->
    </body>
</html>