<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="~{layout/principal.html :: headerfiles}"> <!--...--> </th:block>
		<title>Registro de Proveedores</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Registrar Proveedor</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link" href="/nuevo">Agregar producto</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<br>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card rounded-5 py-4">
					<h1 class="text-center">Registrar Proveedor Nuevo</h1>
					<div class="card-body">
						<form 
							method="post" 
							th:object="${supplier}"
							th:action="@{/supplier/save_supplier}"
						>
							<div class="form-group">
								<label>Nombre</label>
								<input 
									type="text" 
									class="form-control" 
									placeholder="Nombre del proveedor"
									th:field="*{supplierName}"
								>
							</div>
							<div class="form-group">
								<label>RUC</label>
								<input 
									type="text" 
									class="form-control"
									placeholder="RUC del proveedor"
									th:field="*{supplierRUC}"
								>
							</div>
							<div class="d-flex justify-content-around">
								<div class="form-group w-100">
									<label>Telefono</label>
									<input 
										type="text" 
										class="form-control" 
										placeholder="Digite el telefono"
										th:field="*{supplierPhone}"
										>
									</div>
									<div class="form-group w-100">
										<label>Dirección</label>
										<input 
										type="text" 
										class="form-control" 
										placeholder="Direccion completa del proveedor"
										th:field="*{supplierAddress}"
									>
								</div>
							</div>

							<div class="form-group w-100">
								<label>Pagina web oficial</label>
								<input 
									type="text" 
									class="form-control" 
									placeholder="Pagina web oficial"
									th:field="*{supplierWebLink}"
								>
							</div>
							
							<div class="box-footer d-flex ">
								<button type="submit" class="btn w-100 border-1 border-warning mr-2">Guardar</button>
								<div>
									<a th:href="@{/supplier/list}" class="btn btn-danger">
										Volver 
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>	
	</body>
</html>


<!-- th:action="@{/GuardarClii}" th:object="${cli}" -->
<!-- th:field="*{dniCliente}" -->
<!-- th:field="*{apellidoCliente}" -->
<!-- th:field="*{nombreCliente}" -->