<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="~{layout/principal.html :: headerfiles}"> <!--...--> </th:block>
        <title>Vista de edicion del Proveedor</title>
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/principal :: navbar"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{layout/principal :: topbar('Buscar por nombre del proveedor','supplier_by_name','/supplier/search')}"></nav>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card  rounded-5 py-4">
                                <br>
                                <h1 class="text-center">Apartado de Edición</h1>
                                <div class="card-body">
                                    <form th:action="@{'/supplier/save_supplier'}" method="post" th:object="${supplier}">
                                        <input type="hidden"/>
                                        <div class="form-group">
                                            <label>Codigo del proveedor</label>
                                            <input 
                                                type="text"
                                                class="form-control" 
                                                readonly="readonly"
                                                th:field="*{idSupplier}"
                                            >
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input 
                                                type="text"
                                                class="form-control" 
                                                placeholder="Nuevo nombre del proveedor"
                                                th:field="*{supplierName}"
                                            >
                                        </div>
                                        <div class="form-group">
                                            <label>RUC</label>
                                            <input 
                                                type="text"
                                                class="form-control" 
                                                placeholder="Digite el apellido"
                                                th:field="*{supplierRUC}"
                                            >
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex justify-content-around">
                                                <div class="w-100 mr-2">
                                                    <label>Telefono</label>
                                                    <input 
                                                        type="text" 
                                                        class="form-control w-100"
                                                        placeholder="Digite el telefono"
                                                        th:field="*{supplierPhone}"
                                                    >
                                                </div>
                                                <div class="w-100">
                                                    <label>Dirección</label>
                                                    <input 
                                                        type="text" 
                                                        class="form-control w-100"
                                                        placeholder="Actualize la direccion"
                                                        th:field="*{supplierAddress}"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100">
                                            <label>Pagina Web Oficial</label>
                                            <input 
                                                type="text" 
                                                class="form-control w-100"
                                                placeholder="Enlace de la pagina"
                                                th:field="*{supplierWebLink}"
                                            >
                                        </div>
                                        <div class="box-footer d-flex mt-4">
                                            <button type="submit" class="btn w-100 border-1 border-warning mr-2">Guardar</button>
                                            <div>
                                                <a th:href="@{/supplier/list}" class="btn btn-danger">
                                                    Volver 
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <!-- <th:block th:include="~{layout/principal.html :: scripts}"> ... </th:block> -->
    </body>
</html>